/src/win32-VS2005/.vs
/src/win32-VS2005/.vscode
/src/win32-VS2005/win32
/test
/run-dir
/src/win32-VS2005/out
/src/win32-VS2005/traces
/src/win32-VS2005/ATTILAsnapshot00
/src/win32-VS2005/ATTILAsnapshot01
/src/win32-VS2005/ATTILAsnapshot02
/src/win32-VS2005/ATTILAsnapshot03
/src/win32-VS2005/ATTILAsnapshot04
/src/win32-VS2005/ATTILAsnapshot05
/src/win32-VS2005/ATTILAsnapshot06
/src/win32-VS2005/ATTILAsnapshot07
/src/win32-VS2005/ATTILAsnapshot08
/src/win32-VS2005/ATTILAsnapshot09
/src/win32-VS2005/x64
/src/win32-VS2005/debug
/src/win32-VS2005/D3DCodeGenerator.exe
/src/win32-VS2005/DXCodeGen.pdb
/src/win32-VS2005/D3DCodeGenerator.pdb
bin
flex
bison
lib
*.o
*.gen
*.obj
.gitignore
